@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --clr-dark-blue: hsl(243, 87%, 12%);
  --clr-bg-light-blue-and-text: hsl(238, 22%, 44%);
  --clr-buttons: hsl(224, 93%, 58%);
  --clr-link: hsl(170, 45%, 43%);
  --clr-text-white: hsl(240, 75%, 98%);
  --clr-text-gray: hsl(0, 0%, 75%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

ul {
  list-style: none;
}

.picture {
  max-width: 100%;
}

.bloc__text{
    color: var(--clr-bg-light-blue-and-text);
}

input,
.call-to-action {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  font-size: 1rem;
}
input{
    padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 2rem;
  height: 5rem;
}

.nav__list {
  display: flex;
  gap: 1.3rem;
  margin: auto;
  padding: 0;
}
.nav__link {
  text-decoration: none;
  color: var(--clr-dark-blue);
}
.nav__link:hover {
  color: var(--clr-bg-light-blue);
  font-size: 1.25rem;
  font-weight: 700;
}

.bloc .title {
  color: var(--clr-dark-blue);
}
.bloc_1{
 width: min(85%, 470px);
 margin: 0 auto;
}
.bloc_1 {
  text-align: center;
}

.call-to-action {
  background-color: var(--clr-buttons);
  color: var(--clr-text-white);
  font-weight: 600;
  border: none;
  margin-top: 1rem;
}
.call-to-action:hover {
  background-color: hsla(224, 93%, 58%, 0.745);
  cursor: pointer;
}
.bloc_2--container{
  background-image: url(/images/bg-curve-mobile.svg);
  background-size: 500% 100%;
  background-repeat: no-repeat;
  background-position:center;
  padding-top: 10rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloc_2 {
  width: min(85%, 470px);
}
.bloc_2--content{
    margin-top: 7rem;
}
.bloc_2 .title{
    font-size: 1.4rem;
    text-align: center;
}
.bloc_2 .bloc__text{
    margin-top: 2rem;
}
.see-how-it-works__container{
    width: 100%;
}
.see-how-it-works{
    text-decoration: none;
    color: var(--clr-link);
    font-size: 1.1rem;
    padding-inline: 0;
    margin: auto;
    display: flex;
    gap: 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--clr-link);
}
.see-how-it-works__text{
    margin-block: 0.4em;
}
.arrow-icon{
    align-self: center;
}
.see-how-it-works:hover{
    opacity: 0.5;
    cursor: pointer;
    font-size: large;
}

.testimonial_container{
    width: min(85%,400px);
    margin:3.3rem auto;
    padding: 1.3em 2em;
    color: var(--clr-dark-blue);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--clr-text-gray);
}
.testimonial--quotation{
    font-size: 1rem;
    margin-block: .5em;
}
.testimonial--person{
    display: flex;
    height: 2.5rem;
    gap: 5px;
}
.testimonial--name{
    font-size:.8rem;
    margin: 0;
}
.testimonial--job{
    font-size:.6rem ;
    margin: 0;
}
.testimonial--person_text{
    margin: auto 0;
}
.testimonial--picture{
    border-radius: 50px;
}

.get-access__container{
    background-color: var(--clr-bg-light-blue-and-text);
    display: flex;
    justify-content: center;
    align-items: center;
}
.get-access{
    padding: 4rem 3rem 5.5rem 3rem ;
    text-align: center;
    color: var(--clr-text-white);
    width: min(95%,500px);
}
.get-access .title{
    margin-top: 0;
    font-size: 1.6rem;
}
.get-access input{
    width: 85%;
}
.get-access .call-to-action{
    width: 85%;
}

footer{
    font-size: 1.2rem;
}
.footer--container{
    background-color: var(--clr-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 4rem 2rem;
}
.footer--content{
    margin: 0 auto;
    width: min(80%, 470px);
    color: var(--clr-text-white);
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: var(--clr-text-white);
}
footer a:hover{
    color: var(--clr-link);
    letter-spacing: 3px;
}
.footer__list{
    padding: 0;
    line-height: 2.5em;
}
footer .logo{
    width: min(50%,200px);
}
.footer__links--container{
    margin-block: 2.125rem;
    width: 100%;
}
.footer__list--social-media{
    margin:auto;
    margin-top: 4rem;
    padding: 0;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.fb-icon,.twitter-icon,.ig-icon{
    width:50px;
    background-color: aliceblue;
    border-radius: 10px;
}
.fb-icon:hover,.twitter-icon:hover,.ig-icon:hover{
    background-color: transparent;
}


@media only screen and (min-width:810px) {
    
   .picture{
        max-width: 40%;
        align-self: center;
    }

    .bloc, .get-access,.footer__links--container{
        display: flex;     
        flex-direction: row-reverse;
        gap: 5rem;
    }
    .bloc, .get-access, .footer--content{
        width: 92%;
        padding: 0;
    }
    .bloc--content, .bloc_2 .title, .get-access{
        text-align: left;
    }
    form{
        display: flex;
        width: 90%;
        gap: 10px;
    }

    .bloc_1 input{
        width: 60%;
    }
    .bloc_1 button{
        margin: 0;
    }
    .bloc_1 label{
        width: 40%;
    }

    .bloc_2--container{
        background-image: url(/images/bg-curve-desktop.svg);
        margin-top: 10rem;
    }
    .bloc_2--content{
        margin-top: -4rem;
    }
    .see-how-it-works{
        margin: 0;
    }
    .testimonial_container{
        width: 400px;
        margin: 3.3rem 0;
    }

    .get-access{
        flex-direction: row;
        justify-content: space-between;
        padding-block: 4rem;
    }
    .get-acces__text{
        width: 45%;
    }
    .get-access__input{
        width: 45%;
    }
    .get-access form{
        flex-direction: column;
        gap: 2px;
    }
    .get-access label{
        width: 50%;
        font-size: 0.9rem;
    }
    .get-access button{
        font-size: 0.9rem;
    }

    footer{
     font-size: 0.95rem;
    }
    .footer__links--container{
        flex-direction: row;
        gap: 5%;
    }
    .footer__list{
        width: 25%;
    }
    .footer__list--social-media{
        width: 10%;
        justify-content: space-between;
        margin-left: -6rem;
    }
    .fb-icon,.twitter-icon,.ig-icon{
        width:30px;
        border-radius: 10px;
    }
}